body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
}

.photo-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.photo img {
    max-width: 100%;
    height: auto;
}

.photo p {
    margin: 10px 0;
}
/* Button styling */
input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px; /* Add margin to separate buttons horizontally */
}
/* Form container */
.form-container {
    text-align: right;
    margin: 20px;

}


/* Style for the form elements */
.form-container form {
    display: inline-block; /* Display the forms inline */
    margin-right: 5px; /* Add margin between the buttons */
}